<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReferenceOrigin</key>
	<string>Video</string>
	<key>ReloadLastFile</key>
	<true/>
	<key>VideoDelayCompensation</key>
	<integer>0</integer>
	<key>SonyRewindFastForwardSpeed</key>
	<integer>10</integer>
	<key>SonySyncOnCTSUp</key>
	<true/>
</dict>
</plist>
