<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DWPlayRReferenceOrigin</key>
	<string>Video</string>
	<key>DWPlayRReloadLastFile</key>
	<true/>
	<key>DWVideoDelayCompensation</key>
	<integer>0</integer>
	<key>DWSonyRewindFastForwardSpeed</key>
	<integer>10</integer>
	<key>DWSonySyncOnCTSUp</key>
	<true/>
	<key>DWLogLevel</key>
	<integer>257</integer>
</dict>
</plist>
